{% extends "base.html" %} {% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<div class="row g-3">
  {% if form %}
  <div class="row">
    <div class="col-sm-6 m-5 border">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <div class="alert alert-primary col-sm-6 m-5" role="alert">
        <ul class="flashes">
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %} {% endwith %}

      <p class="fs-3 m-5">{{'REORDER EXCEL COLUMNS BY INDEX' }}</p>
      {{ render_form(form) }}
      <div>
        <br />
        {% if file_exists %}
        <a href="{{ url_for('download') }}">{{'Download' }}</a>
        |||
        <a href="{{ url_for('delete') }}">{{'Delete' }}</a>
        {% endif %} {% endif %} {% endblock %}
      </div>
    </div>
  </div>
</div>
